.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/esbuild/**
!node_modules/@esbuild/darwin-arm64/**
!node_modules/fallow/**
!node_modules/detect-libc/**
!node_modules/@fallow-cli/darwin-arm64/**
!node_modules/oxlint/**
!node_modules/@oxlint/binding-darwin-arm64/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/.DS_Store
