.vscode/**
.vscode-test/**
.github/**
.claude/**
.fallow/**
out/**
node_modules/**
!node_modules/esbuild/**
!node_modules/@esbuild/**
!node_modules/fallow/**
!node_modules/@fallow-cli/**
!node_modules/oxlint/**
!node_modules/@oxlint/**
src/**
.gitignore
.yarnrc
.release-please-manifest.json
esbuild.js
scripts/**
vsc-extension-quickstart.md
pnpm-lock.yaml
pnpm-workspace.yaml
release-please-config.json
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/.DS_Store
